.DS_Store
data/Dataset Global Fashion Brands Brand Equity Ranking Growth Rate  COO ROO 2001-2021.csv
data/LuxFashion-Q42019.csv
data/100_fashion_money.csv
data/merged.csv
data/Luxury_Fashion.csv
src/__pycache__

